:root {
  --primary-tetx-color: #212121;
  --title-tetx-color: #757575;
  --accent-color: #2196f3;
  --hero-title-color: #ffffff;
}

body {
  background-color: #e5e5e5;
  color: var(--primary-tetx-color);
}

/* цвет заголовка героя #FFFFFF */
/* цвет заголовков #212121 */
/* цвет текста #757575 */
/* цвет логотипа и акцента #2196F3 */
/* цвет фона #E5E5E5 */
/* вторичный цвет фона #F5F4FA */

.logo {
  color: var(--primary-tetx-color);
}
.logow {
  color: var(--accent-color);
}
ul {
  list-style: none;
}

/* site-nav */

.site-nav .link {
  color: var(--primary-tetx-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--primary-tetx-color);
}

/* hero */

.hero-title {
  color: var(--hero-title-color);
}

/* section */

.section-title {
  color: var(--primary-tetx-color);
}
.title-paragraph {
  color: var(--title-tetx-color);
}

/* feature */

/* .feature-list .title {
  color: var(--primary-tetx-color);
} */

/* button */

.button {
  color: var(--hero-title-color);
  background-color: var(--accent-color);
}
